labs_remote_n8n/lab7-opensource/os-news-avatar-flow.json
{
  "name": "Lab 7 (Open-Source) - News Avatar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "os-generate",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Generate Webhook",
      "webhookId": "c1c1c1c1-d2d2-4e3e-8f4f-a5a5a5a5a5a5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.topic || 'FIFA World Cup 2026 Round of 16 \u2014 latest results and what happens next' }}",
        "options": {
          "systemMessage": "You are a TV sports news scriptwriter. Write a short, energetic news-anchor script about the given topic that runs about 20 seconds when read aloud (roughly 55-70 words).\n\nRules:\n- Output ONLY the words the anchor speaks \u2014 one flowing paragraph.\n- No stage directions, no timestamps, no camera notes, no speaker labels, no markdown, no surrounding quotation marks.\n- Start with a warm welcome, deliver the key update with excitement, and end with a hook to keep watching.\n- Keep it broadcast-natural and easy to say aloud."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        0
      ],
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Write Script (OpenAI)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ],
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE-WITH-YOUR-NGROK-URL/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.output }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Local Render (say + ffmpeg)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { video_url: $json.video_path ? ('https://REPLACE-WITH-YOUR-NGROK-URL' + $json.video_path) : null, engine: $json.engine || null, duration: $json.duration || null, script: $('Write Script (OpenAI)').item.json.output, error: $json.error || null } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        420,
        0
      ],
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Respond (video_url)"
    }
  ],
  "connections": {
    "Generate Webhook": {
      "main": [
        [
          {
            "node": "Write Script (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Script (OpenAI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write Script (OpenAI)": {
      "main": [
        [
          {
            "node": "Local Render (say + ffmpeg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Render (say + ffmpeg)": {
      "main": [
        [
          {
            "node": "Respond (video_url)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
