lab4/retell-web-call-flow.json
{
  "name": "Retell Web Call Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-web-call",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c1d2e3f4-5a6b-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Webhook",
      "webhookId": "f3a4b5c6-d7e8-4f9a-8b0c-1d2e3f4a5b6c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-web-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_id: $json.body.agent_id || 'agent_7323e166b991e5d0067a1adaf8' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "d2e3f4a5-6b7c-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "Create Retell Web Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VIBs5etbo8sGsyRe",
          "name": "Retell API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        0
      ],
      "id": "e3f4a5b6-7c8d-4e9f-8a0b-1c2d3e4f5a6b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Retell Web Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell Web Call": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "ce3daefa0bef7976a667b5adbb76b39cf3aee2e048003fa9e3eaeda97068d732"
  },
  "tags": []
}