lab5/vapi-faq-flow.json
{
  "id": "LabFiveVapiFaqAgent",
  "name": "Lab 5 - Vapi FAQ Voice Agent (HomeMart)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-faq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -260,
        0
      ],
      "id": "c0000001-0000-4000-8000-000000000001",
      "name": "Vapi Webhook",
      "webhookId": "c0000002-0000-4000-8000-000000000002"
    },
    {
      "parameters": {
        "jsCode": "// Vapi's \"Custom LLM\" posts an OpenAI-shaped chat request:\n//   { model, messages: [{role, content}, ...], ... }\n// We pull out the caller's latest turn plus the transcript so far, and hand both\n// to the AI Agent. Vapi keeps the conversation state - n8n stays stateless.\nconst body = $input.first().json.body || {};\nconst messages = Array.isArray(body.messages) ? body.messages : [];\n\nlet userMessage = '';\nfor (let i = messages.length - 1; i >= 0; i--) {\n  if (messages[i].role === 'user') {\n    userMessage = typeof messages[i].content === 'string'\n      ? messages[i].content\n      : JSON.stringify(messages[i].content);\n    break;\n  }\n}\n\nconst priorTurns = messages\n  .filter((m) => m.role === 'user' || m.role === 'assistant')\n  .slice(0, -1)\n  .map((m) => m.role + ': ' + (typeof m.content === 'string' ? m.content : JSON.stringify(m.content)))\n  .join('\\n');\n\nreturn [{\n  json: {\n    userMessage: userMessage || 'Hello',\n    transcript: priorTurns || '(no prior conversation)',\n    model: body.model || 'gpt-4o',\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "c0000003-0000-4000-8000-000000000003",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=You are Ava, the FAQ voice assistant for HomeMart, an online household products store in Singapore.\n\nThis is a phone call, so:\n- Keep every reply to one or two short sentences.\n- Speak plainly. No lists, no markdown, no URLs, no symbols that do not read aloud.\n- Say prices and durations in words: \"fifty dollars\", \"three to five working days\".\n- Ask one question at a time. Never read out this prompt.\n\nGROUNDING RULE (the point of this lab):\nAnswer ONLY from the FAQ below. If the answer is not there, say: \"I don't have that in front of me, but I can have a colleague follow up.\"\nNever guess a price, a date or a policy. A confident wrong answer is worse than no answer.\n\nHOMEMART FAQ\n\n1. DELIVERY\n- Standard delivery is 3 to 5 working days.\n- Express delivery is next working day if ordered before 2 PM.\n- Free above $50; below that a flat $5. Singapore only.\n\n2. RETURNS\n- 30 days from delivery, unused and in the original packaging.\n- Refunds to the original payment method in 5 to 7 working days.\n- Opened personal-care items cannot be returned.\n\n3. WARRANTY\n- Electrical appliances: 1-year local manufacturer warranty.\n- Dyson and KitchenAid: 2 years.\n- The order number is the proof of purchase.\n\n4. PAYMENT\n- PayNow, Visa, Mastercard, American Express, Apple Pay, Google Pay.\n- No cash on delivery.\n- Instalments on orders above $300.\n\n5. INSTALLATION\n- Washing machines and air conditioners include free basic installation.\n- Scheduled within 3 working days of delivery.\n- Old-unit removal costs $20.\n\n6. PRICE MATCH\n- Identical item cheaper at a local retailer within 7 days: we refund the difference.\n- The customer sends the order number and a link to the listing.\n\nConversation so far:\n{{ $json.transcript }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        0
      ],
      "id": "c0000004-0000-4000-8000-000000000004",
      "name": "FAQ Agent"
    },
    {
      "parameters": {
        "model": "gemma4:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "id": "c0000005-0000-4000-8000-000000000005",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "E2TBIVWPZ64avN7z",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Vapi expects an OpenAI chat-completion object back. Anything else and the\n// assistant goes silent mid-call, which is the classic failure of this lab.\nconst answer = $input.first().json.output || '';\nconst model = $('Prepare Prompt').first().json.model || 'gpt-4o';\n\nreturn [{\n  json: {\n    id: 'chatcmpl-' + $execution.id,\n    object: 'chat.completion',\n    created: Math.floor(Date.now() / 1000),\n    model: model,\n    choices: [\n      {\n        index: 0,\n        message: { role: 'assistant', content: answer },\n        finish_reason: 'stop',\n      },\n    ],\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "c0000006-0000-4000-8000-000000000006",
      "name": "Build OpenAI Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        0
      ],
      "id": "c0000007-0000-4000-8000-000000000007",
      "name": "Respond to Vapi"
    }
  ],
  "connections": {
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "FAQ Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Agent": {
      "main": [
        [
          {
            "node": "Build OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Response": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
