labs_remote_n8n/lab8/avatar-chat-flow.json
{
  "name": "Lab 8 - Interactive Avatar Brain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avatar-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -280,
        0
      ],
      "id": "e0000001-0000-4000-8000-000000000001",
      "name": "Chat Webhook",
      "webhookId": "e0000002-0000-4000-8000-000000000002"
    },
    {
      "parameters": {
        "jsCode": "// WHY NOT THE AI AGENT NODE?\n// Same reasoning as the Ollama build: the LangChain Agent node runs a ReAct loop\n// (several LLM round-trips, a scratchpad, tool-choice reasoning) \u2014 none of which this\n// lab needs. For a conversation you must not keep waiting for, that overhead is the\n// whole difference between \"interactive\" and \"awkward\". So we build the chat payload\n// ourselves and call OpenAI once.\n//\n// History comes from the BROWSER (it already has the transcript), which also keeps this\n// flow stateless \u2014 no memory node, no session store.\n\nconst body = $input.first().json.body || {};\nconst message = (body.message || '').toString().trim();\nconst history = Array.isArray(body.history) ? body.history.slice(-6) : [];\n\nconst SYSTEM = `You are Aria, a friendly AI receptionist for Tertiary Infotech Academy.\n\nYou are SPOKEN ALOUD by a talking avatar, so:\n- Reply in ONE short sentence. Two at the very most.\n- Plain spoken English. No markdown, no bullets, no emoji, no URLs.\n- Say numbers in words: \"two days\", \"nine thirty in the morning\".\n- If you do not know, say so briefly and offer a colleague follow-up. Never invent a price, a date or a policy.\n\nWHAT YOU KNOW\n- The academy runs WSQ short courses in AI, automation and data.\n- Classes run 9:30am to 6:30pm on weekdays at our training centre.\n- Course fees vary; funding is available for eligible Singaporeans.\n- To enrol, a learner registers on the website.`;\n\nconst messages = [\n  { role: 'system', content: SYSTEM },\n  ...history.map((h) => ({ role: h.role === 'you' ? 'user' : 'assistant', content: h.text })),\n  { role: 'user', content: message || 'Hello' },\n];\n\n// The Ollama twin needed `think: false` and `keep_alive` \u2014 both are Ollama-only concerns\n// (a local thinking model burning its budget on an inner monologue, and a 9.6 GB model\n// being evicted from RAM). A hosted model has neither problem, so the payload is smaller.\nreturn [{ json: {\n  openai: {\n    model: 'gpt-4.1-mini',\n    stream: false,\n    messages,\n    max_tokens: 120,      // enough for two spoken sentences, not enough to ramble\n    temperature: 0.6,\n  },\n  warm: !!body.warm,\n  started_at: Date.now(), // OpenAI does not report timings, so we measure them ourselves\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "e0000003-0000-4000-8000-000000000003",
      "name": "Build Chat Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "e0000004-0000-4000-8000-000000000004",
      "name": "OpenAI: Chat",
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The avatar SPEAKS this, so strip anything that does not read aloud: a stray asterisk\n// becomes an audible \"asterisk\" in the browser's voice.\nconst res = $input.first().json;\nconst started = $('Build Chat Request').first().json.started_at;\n\nconst choice = (res.choices && res.choices[0]) || {};\nlet reply = (choice.message?.content || '').toString();\n// OpenAI's equivalent of Ollama's done_reason: 'length' \u2014 the model was cut off mid-sentence.\nconst starved = !reply && choice.finish_reason === 'length';\n\nreply = reply\n  .replace(/[*_`#>]/g, '')\n  .replace(/^\\s*[-\u2022]\\s*/gm, '')\n  .replace(/https?:\\/\\/\\S+/g, 'the link on our website')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!reply) {\n  reply = res.error\n    ? 'My brain is not answering. Check the OpenAI credential and your remaining credits.'\n    : starved\n      ? 'Sorry, I ran out of words. Ask me that again?'\n      : 'Sorry, I did not catch that. Could you say it again?';\n}\n\n// Report where the time went, so the lab can SHOW the latency rather than claim it.\n// Ollama hands back nanosecond timings per phase; OpenAI gives none, so total_ms is\n// wall-clock measured across the HTTP call and the token counts come from `usage`.\nconst usage = res.usage || {};\n\nreturn [{ json: {\n  reply,\n  timing: {\n    total_ms: started ? Date.now() - started : null,\n    model_load_ms: null,   // not applicable: the model is already hot on OpenAI's side\n    prompt_ms: null,       // OpenAI does not break the latency down by phase\n    generate_ms: null,\n    tokens: usage.completion_tokens || 0,\n    prompt_tokens: usage.prompt_tokens || 0,\n  },\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "e0000005-0000-4000-8000-000000000005",
      "name": "Make It Speakable"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        660,
        0
      ],
      "id": "e0000006-0000-4000-8000-000000000006",
      "name": "Respond (reply)"
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Build Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Request": {
      "main": [
        [
          {
            "node": "OpenAI: Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Chat": {
      "main": [
        [
          {
            "node": "Make It Speakable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make It Speakable": {
      "main": [
        [
          {
            "node": "Respond (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
