labs_remote_n8n/lab8/avatar-chat-flow.json
{
  "name": "Lab 8 - Interactive Avatar Brain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avatar-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -280,
        0
      ],
      "id": "e0000001-0000-4000-8000-000000000001",
      "name": "Chat Webhook",
      "webhookId": "e0000002-0000-4000-8000-000000000002"
    },
    {
      "parameters": {
        "jsCode": "// Shape the webhook body for the AI Agent node.\n//\n// History comes from the BROWSER (it already has the transcript), which keeps this\n// flow stateless - no memory node, no session store. We fold the last few turns\n// into the system message so the agent still follows the conversation.\n\nconst body = $input.first().json.body || {};\nconst message = (body.message || '').toString().trim();\nconst history = Array.isArray(body.history) ? body.history.slice(-6) : [];\n\nconst SYSTEM = \"You are Aria, the friendly AI receptionist for Tertiary Infotech Academy, speaking to a visitor through a talking avatar.\\n\\nVOICE RULES - you are SPOKEN ALOUD:\\n- One short sentence; two at the very most.\\n- Plain spoken English. No markdown, no bullets, no emoji, no URLs, no code.\\n- Say numbers in words: \\\"two days\\\", \\\"nine thirty in the morning\\\".\\n\\nCONVERSATION RULES:\\n- ALWAYS give a helpful answer. If the question is unclear, give your best answer AND ask one short follow-up question.\\n- Never say you did not hear or did not catch the message - the message always reaches you perfectly.\\n- If you truly do not know a fact, say so briefly and offer to have a colleague follow up. Never invent a price, a date or a policy.\\n- Greet a plain hello warmly and offer help with courses, schedules or enrolment.\\n\\nWHAT YOU KNOW:\\n- Tertiary Infotech Academy is a Singapore training provider for working adults.\\n- It runs WSQ short courses in AI, automation and data - including building AI chatbots, voice agents and avatar videos with n8n, plus data analytics and programming.\\n- Courses are hands-on, usually one to three days, from nine thirty in the morning to six thirty in the evening, at the Woods Square training centre in Woodlands.\\n- SkillsFuture credit and WSQ funding can offset the fees for eligible Singaporeans and PRs.\\n- To enrol or see the full course list, a learner visits the Tertiary Courses website or speaks to our staff.\";\n\nconst transcript = history\n  .map((h) => `${h.role === 'you' ? 'Visitor' : 'Aria'}: ${h.text}`)\n  .join('\\n');\n\nreturn [{ json: {\n  chatInput: message || 'Hello',\n  system: transcript ? `${SYSTEM}\\n\\nCONVERSATION SO FAR\\n${transcript}` : SYSTEM,\n  warm: !!body.warm,\n  started_at: Date.now(),  // the agent reports no timings, so we measure wall-clock ourselves\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "e0000003-0000-4000-8000-000000000003",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.system }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        200,
        0
      ],
      "id": "e0000004-0000-4000-8000-000000000004",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        200,
        208
      ],
      "id": "e0000007-0000-4000-8000-000000000007",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The avatar SPEAKS this, so strip anything that does not read aloud: a stray\n// asterisk becomes an audible \"asterisk\", and a thinking model's private\n// reasoning must never reach the voice.\nconst res = $input.first().json;\nconst started = $('Build Prompt').first().json.started_at;\n\nlet reply = (res.output ?? res.text ?? res.response ?? '').toString();\n\nreply = reply\n  .replace(/<think>[\\s\\S]*?<\\/think>/gi, '')   // a thinking model's inner monologue\n  .replace(/[*_`#>]/g, '')\n  .replace(/^\\s*[-\\u2022]\\s*/gm, '')\n  .replace(/https?:\\/\\/\\S+/g, 'the link on our website')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Never blame the visitor's microphone - the message arrived fine. If the model\n// gave us nothing, own the hiccup and keep the conversation alive.\nif (!reply) {\n  const asked = ($('Build Prompt').first().json.chatInput || '').trim().toLowerCase();\n  reply = (!asked || asked === 'hello')\n    ? 'Hi, I am Aria. Ask me about our courses, the schedule, or how to enrol.'\n    : 'Give me one second, my brain hiccuped there - please ask me that once more.';\n}\n\nreturn [{ json: {\n  reply,\n  timing: {\n    total_ms: started ? Date.now() - started : null,\n    model_load_ms: null,\n    prompt_ms: null,\n    generate_ms: null,\n    tokens: 0,\n    prompt_tokens: 0,\n  },\n  // Trainer-facing breadcrumb (the page ignores it): why a fallback fired.\n  debug: res.error ? String(res.error).slice(0, 200) : undefined,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "e0000005-0000-4000-8000-000000000005",
      "name": "Make It Speakable"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        740,
        0
      ],
      "id": "e0000006-0000-4000-8000-000000000006",
      "name": "Respond (reply)"
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Make It Speakable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make It Speakable": {
      "main": [
        [
          {
            "node": "Respond (reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
