lab7/replicate-avatar-flow.json
{
  "name": "Replicate Avatar Video (Ollama + SadTalker)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "replicate-generate",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-460, 0],
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Generate Webhook",
      "webhookId": "d1d1d1d1-e2e2-4f3f-8a4a-b5b5b5b5b5b5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.topic || 'FIFA World Cup 2026 Round of 16 — latest results and what happens next' }}",
        "options": {
          "systemMessage": "You are a TV sports news scriptwriter. Write a short, energetic news-anchor script about the given topic that runs about 15 seconds when read aloud (roughly 40-55 words).\n\nRules:\n- Output ONLY the words the anchor speaks — one flowing paragraph.\n- No stage directions, timestamps, camera notes, speaker labels, markdown, or surrounding quotes.\n- Warm welcome, the key update with excitement, a quick hook to keep watching. Natural and easy to say aloud."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-240, 0],
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Write Script (Ollama)"
    },
    {
      "parameters": {
        "model": "gemma4:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [-240, 208],
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": { "id": "E2TBIVWPZ64avN7z", "name": "Ollama local" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Prefer", "value": "wait" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: 'f559560eb822dc509045f3921a1921234918b91739db4bf3daab2169b71c7a13', input: { text: $json.output, voice: 'am_adam', speed: 1.05 } }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Replicate: TTS (Kokoro)",
      "credentials": {
        "httpHeaderAuth": { "id": "Jm89VhDPqLoNs6HV", "name": "Replicate API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: 'a519cc0cfebaaeade068b23899165a11ec76aaa1d2b313d40d214f204ec957a3', input: { source_image: 'https://raw.githubusercontent.com/tertiarycourses/TGS-2024052081-Automate-Video-and-Voice-AI-Agents-with-n8n/main/lab7/website/broadcaster.jpg', driven_audio: $json.output, preprocess: 'full', still_mode: true, use_enhancer: true, size_of_image: 512 } }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Replicate: SadTalker (create)",
      "credentials": {
        "httpHeaderAuth": { "id": "Jm89VhDPqLoNs6HV", "name": "Replicate API" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { prediction_id: $json.id || null, status: $json.status || 'error', script: $('Write Script (Ollama)').item.json.output, error: $json.detail || $json.error || null } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [480, 0],
      "id": "b6666666-6666-4666-8666-666666666666",
      "name": "Respond (prediction_id)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "replicate-status",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-460, 320],
      "id": "b7777777-7777-4777-8777-777777777777",
      "name": "Status Webhook",
      "webhookId": "e2e2e2e2-f3f3-4a4a-8b5b-c6c6c6c6c6c6"
    },
    {
      "parameters": {
        "url": "=https://api.replicate.com/v1/predictions/{{ $json.body.prediction_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 320],
      "id": "b8888888-8888-4888-8888-888888888888",
      "name": "Replicate: Get Status",
      "credentials": {
        "httpHeaderAuth": { "id": "Jm89VhDPqLoNs6HV", "name": "Replicate API" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: $json.status || 'unknown', video_url: (typeof $json.output === 'string' ? $json.output : ($json.output && $json.output[0]) ) || null, error: $json.error || null } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [60, 320],
      "id": "b9999999-9999-4999-8999-999999999999",
      "name": "Respond (status)"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Webhook": { "main": [[{ "node": "Write Script (Ollama)", "type": "main", "index": 0 }]] },
    "Ollama Chat Model": { "ai_languageModel": [[{ "node": "Write Script (Ollama)", "type": "ai_languageModel", "index": 0 }]] },
    "Write Script (Ollama)": { "main": [[{ "node": "Replicate: TTS (Kokoro)", "type": "main", "index": 0 }]] },
    "Replicate: TTS (Kokoro)": { "main": [[{ "node": "Replicate: SadTalker (create)", "type": "main", "index": 0 }]] },
    "Replicate: SadTalker (create)": { "main": [[{ "node": "Respond (prediction_id)", "type": "main", "index": 0 }]] },
    "Status Webhook": { "main": [[{ "node": "Replicate: Get Status", "type": "main", "index": 0 }]] },
    "Replicate: Get Status": { "main": [[{ "node": "Respond (status)", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "ce3daefa0bef7976a667b5adbb76b39cf3aee2e048003fa9e3eaeda97068d732" },
  "tags": []
}
